
<div [ngClass]="{'border-danger':driver.likeIts < 0, 'border-success':driver.likeIts > 0}" class="card text-center shadow m-2">
  <div class="card-header bg-dark text-white ">
      <h2 class="card-title">{{driver.fullName | titlecase }}</h2>
  </div>
  <div class="card-body">
      <img [src]="driver.coverImage" width="300px" height="150px" class="img-fluid" alt="photo {{driver.fullName}}">

      <hr>

      <p>
        Origines :
        <span *ngIf="driver.pays; else pays">{{ driver.pays | uppercase }} </span> <ng-template #pays>NC</ng-template>
      </p>

      <p>
        Categorie :
         <span *ngIf="driver.category; else category"

          [ngClass]="{'bg-success':driver.category == 'gymkhana',
          'bg-primary':driver.category == 'nascar',
          'bg-info':driver.category == 'rallye',
          'bg-danger':driver.category == 'drag',
          'bg-dark':driver.category == 'formule 1'}"
          class="badge">{{driver.category | titlecase }}
        </span>
         <ng-template #category>NC</ng-template>
      </p>

      <button (click)="onLike()" class="btn btn-success border">
        <i class="fa-solid fa-thumbs-up fs-2 p-2 text-white mx-1 rounded-3"></i>
      </button>

      <button (click)="onUnlike()" class="btn">
        <i class="fa-solid fa-thumbs-down bg-danger fs-2 p-2 text-white mx-1 rounded-3"></i>
      </button>

      <!-- <p>Likes : <span *ngIf="driver.likeIts; else likeIts"></span> <ng-template #likeIts></ng-template></p> -->

  </div>
</div>
<hr>



